div {
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
body {
  padding: 0;
  margin: 0;
  background: #faf3dd;

  font-family: "Asap", sans-serif;
}

.main_headers {
  color: #ffa69e;
}

.subtitle {
  color: #5e6472;
  line-height: 10px;
}

.home_page {
  padding: 33em;
}

label {
  color: red;
}

input {
  width: 100%;
}
