.herName {
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
body {
  padding: 0;
  margin: 0;
  background: #faf3dd;
  
  
  

  font-family: "Asap", sans-serif;
}

.upload_page
{
  position: relative top; 
  margin: top; 

}
label
{
    color: red; 
    font-size: 16px;
    

}
.uploads {
  font-family: "Asap", sans-serif;
    
}
input {
  width: 100%;
  color: blue; 
}

 .section 
{
  padding: 2rem 0 4rem; 
} 
